In [2]:
import pandas as pd

In [3]:
# Data file

air_data = pd.read_csv('AirQuality_Daily_StudentVersion (1).csv')

Client Request # 1

In [4]:
air_data_voc = air_data.groupby(['sensor.name']).agg(
                                                     mean=('voc', 'mean'),
                                                     median=('voc', 'median'))

top5_voc_mean = air_data_voc.sort_values(by = 'mean', ascending = False)
top5_voc_mean.head(5)

                                             mean      median
sensor.name
Swnphd-ogallala                        399.434240  423.082292
FCHD-YPS                               372.462720  375.383500
Three Rivers Public Health Department  370.216208  376.810167
ELVPHD Norfolk HD 4                    360.833744  368.580500
Swnphd-mccook                          353.941581  381.468479

In [5]:
top5_voc_median = air_data_voc.sort_values(by = 'median', ascending = False)
top5_voc_median.head(5)

                                             mean      median
sensor.name
Swnphd-ogallala                        399.434240  423.082292
Swnphd-mccook                          353.941581  381.468479
Three Rivers Public Health Department  370.216208  376.810167
FCHD-YPS                               372.462720  375.383500
ELVPHD Norfolk HD 4                    360.833744  368.580500

In [6]:
air_data_2_5 = air_data.groupby(['sensor.name']).agg(
                                                     mean=('pm2.5_atm', 'mean'),
                                                     median=('pm2.5_atm', 'median'))
top5_2_5_mean = air_data_2_5.sort_values(by = 'mean', ascending = False)
top5_2_5_mean.head(5)

                                                          mean     median
sensor.name
Broken Bow                                          928.710593  36.050240
#16 - Richardson County Courthouse                  700.127342  11.977344
#18 - Southeast District Health Department- Tec...  613.175352  10.322875
NCDHD O'Neill #11                                   164.495078   7.251208
Swnphd-mccook                                       123.011622   4.582281

In [7]:
top5_2_5_median = air_data_2_5.sort_values(by = 'median', ascending = False)
top5_2_5_median.head(5)

                                                          mean     median
sensor.name
Broken Bow                                          928.710593  36.050240
#16 - Richardson County Courthouse                  700.127342  11.977344
#18 - Southeast District Health Department- Tec...  613.175352  10.322875
ELVPHD Norfolk HD 4                                  13.369492   9.706229
ELVPHD Wisner HD 5                                   11.154420   8.464583

In [8]:
air_data_10_0 = air_data.groupby(['sensor.name']).agg(
                                                     mean=('pm10.0_atm', 'mean'),
                                                     median=('pm10.0_atm', 'median'))
top5_10_0_mean = air_data_10_0.sort_values(by = 'mean', ascending = False)
top5_10_0_mean.head(5)

                                                          mean     median
sensor.name
Broken Bow                                          929.678512  43.179094
#16 - Richardson County Courthouse                  701.632446  13.305615
#18 - Southeast District Health Department- Tec...  614.227248  11.433729
NCDHD O'Neill #11                                   166.132578   8.427437
Swnphd-mccook                                       124.227336   5.372073

In [9]:
top5_10_0_median = air_data_10_0.sort_values(by = 'median', ascending = False)
top5_10_0_median.head(5)

                                                          mean     median
sensor.name
Broken Bow                                          929.678512  43.179094
#16 - Richardson County Courthouse                  701.632446  13.305615
ELVPHD Norfolk HD 4                                  15.969341  11.474708
#18 - Southeast District Health Department- Tec...  614.227248  11.433729
ELVPHD Wisner HD 5                                   14.462116  10.935958

Client Request # 2

In [10]:
air_data_voc = air_data.groupby(['sensor.name','date']).agg(
                                                     max=('voc', 'max'),
                                                     )

top5_voc_max = air_data_voc.sort_values(by = 'max', ascending = False)
top5_voc_max.head(5)

                                      max
sensor.name         date
Swnphd-ogallala     06/24/24  1209.931571
SWNPHD-Imerial      10/05/24  1135.473000
                    11/23/24  1041.722000
ELVPHD Norfolk HD 4 10/12/24   884.649000
SWNPHD-Imerial      10/16/24   871.182000

In [11]:
air_data_2_5 = air_data.groupby(['sensor.name','date']).agg(
                                                     max=('pm2.5_atm', 'max'),
                                                     )

top5_2_5_max = air_data_2_5.sort_values(by = 'max', ascending = False)
top5_2_5_max.head(5)

                                                     max
sensor.name                        date
#16 - Richardson County Courthouse 02/18/25  3782.823313
                                   02/19/25  3401.999333
                                   02/20/25  3243.746646
                                   01/21/25  3209.817146
Broken Bow                         02/18/25  3205.868854

In [12]:
air_data_10_0 = air_data.groupby(['sensor.name','date']).agg(
                                                     max=('pm10.0_atm', 'max'),
                                                     )

top5_10_0_max = air_data_10_0.sort_values(by = 'max', ascending = False)
top5_10_0_max.head(5)

                                                     max
sensor.name                        date
#16 - Richardson County Courthouse 02/18/25  3784.682542
                                   02/19/25  3403.435958
                                   02/20/25  3245.613354
                                   01/21/25  3211.046813
Broken Bow                         02/18/25  3206.779708

Client Request #3

In [13]:
def assign_temperature(X):
    if X < 32:
        return "Below Freezing"
    elif 32 <= X <= 50:
        return 'Cool'
    elif 51 <= X <= 70:
        return 'Warm'
    else:
        return 'Hot'

In [14]:
def assign_humidity(Y):
    if Y < 50:
        return "Low Humidity"
    elif 50 <= Y <= 80:
        return 'High Humidity'
    else:
        return 'Very High Humidity'

In [15]:
air_data_vocTEMP = air_data.groupby(['sensor.name','date','temperature']).agg(
    max=('voc','max')
)

top5_voc_maxTEMP = air_data_vocTEMP.sort_values(by='max', ascending=False)

top5_voc_maxTEMP = top5_voc_maxTEMP.head(5).reset_index()

top5_voc_maxTEMP['Temperature Level'] = \
    top5_voc_maxTEMP['temperature'].apply(assign_temperature)

top5_voc_maxTEMP

           sensor.name      date  temperature          max Temperature Level
0      Swnphd-ogallala  06/24/24   116.455286  1209.931571               Hot
1       SWNPHD-Imerial  10/05/24    80.292000  1135.473000               Hot
2       SWNPHD-Imerial  11/23/24    53.487000  1041.722000              Warm
3  ELVPHD Norfolk HD 4  10/12/24    77.483000   884.649000               Hot
4       SWNPHD-Imerial  10/16/24    72.183000   871.182000               Hot

In [16]:
air_data_vocHUM = air_data.groupby(['sensor.name', 'date', 'temperature']).agg(
    max=('voc', 'max')
)

top5_voc_maxHUM = air_data_vocHUM.sort_values(by='max', ascending=False)

top5_voc_maxHUM = top5_voc_maxHUM.reset_index()

top5_voc_maxHUM['Temperature Level'] = \
    top5_voc_maxHUM['temperature'].apply(assign_humidity)

top5_voc_maxHUM.head(5)

           sensor.name      date  temperature          max   Temperature Level
0      Swnphd-ogallala  06/24/24   116.455286  1209.931571  Very High Humidity
1       SWNPHD-Imerial  10/05/24    80.292000  1135.473000  Very High Humidity
2       SWNPHD-Imerial  11/23/24    53.487000  1041.722000       High Humidity
3  ELVPHD Norfolk HD 4  10/12/24    77.483000   884.649000       High Humidity
4       SWNPHD-Imerial  10/16/24    72.183000   871.182000       High Humidity

Client Prompt #4

In [17]:
def assign_aqi_info(Z):
    if Z <= 50:
        return "Good", "Green"
    elif Z <= 100:
        return "Moderate", "Yellow"
    elif Z <= 150:
        return "Unhealthy for Sensitive Groups", "Orange"
    elif Z <= 200:
        return "Unhealthy", "Red"
    elif Z <= 300:
        return "Very Unhealthy", "Purple"
    else:
        return "Hazardous", "Maroon"

In [20]:
def calc_aqi_from_breakpoints(C, breakpoints):
    """
    C = concentration
    breakpoints = list of tuples (Clow, Chigh, Ilow, Ihigh)
    """
    if pd.isna(C):
        return None

    for Clow, Chigh, Ilow, Ihigh in breakpoints:
        if Clow <= C <= Chigh:
            return (Ihigh - Ilow) / (Chigh - Clow) * (C - Clow) + Ilow

    if C > breakpoints[-1][1]:
        return 500

    return None

pm25_bps = [
    (0.0,   12.0,   0,   50),
    (12.1,  35.4,  51,  100),
    (35.5,  55.4, 101,  150),
    (55.5, 150.4, 151,  200),
    (150.5,250.4, 201,  300),
    (250.5,350.4, 301,  400),
    (350.5,500.4, 401,  500),
]

pm10_bps = [
    (0,   54,   0,   50),
    (55, 154,  51,  100),
    (155,254, 101,  150),
    (255,354, 151,  200),
    (355,424, 201,  300),
    (425,504, 301,  400),
    (505,604, 401,  500),
]
air_data["pm2.5_atm"]  = pd.to_numeric(air_data["pm2.5_atm"], errors="coerce")
air_data["pm10.0_atm"] = pd.to_numeric(air_data["pm10.0_atm"], errors="coerce")
air_data["date"]       = pd.to_datetime(air_data["date"], errors="coerce")

air_data["AQI_PM25"] = air_data["pm2.5_atm"].apply(lambda C: calc_aqi_from_breakpoints(C, pm25_bps))
air_data["AQI_PM10"] = air_data["pm10.0_atm"].apply(lambda C: calc_aqi_from_breakpoints(C, pm10_bps))

air_data_AQI25 = air_data.groupby(["sensor.name", "date"]).agg(
    max=("AQI_PM25", "max")
)

top5_AQI25 = air_data_AQI25.sort_values(by="max", ascending=False)
top5_AQI25 = top5_AQI25[top5_AQI25["max"] >= 101].reset_index()

top5_AQI25["AQI Category"] = top5_AQI25["max"].apply(assign_aqi_info)
top5_AQI25["AQI Color"]    = top5_AQI25["max"].apply(assign_aqi_info)

top5_AQI25
air_data_AQI10 = air_data.groupby(["sensor.name", "date"]).agg(
    max=("AQI_PM10", "max")
)

top5_AQI10 = air_data_AQI10.sort_values(by="max", ascending=False)
top5_AQI10 = top5_AQI10[top5_AQI10["max"] >= 101].reset_index()

top5_AQI10["AQI Category"] = top5_AQI10["max"].apply(assign_aqi_info)
top5_AQI10["AQI Color"]    = top5_AQI10["max"].apply(assign_aqi_info)

top5_AQI10

,sensor.name,date,max,AQI Category,AQI Color
0,#18 - Southeast District Health Department- Te...,2025-03-11,500.000000,"(Hazardous, Maroon)","(Hazardous, Maroon)"
1,#18 - Southeast District Health Department- Te...,2025-03-12,500.000000,"(Hazardous, Maroon)","(Hazardous, Maroon)"
2,#18 - Southeast District Health Department- Te...,2025-03-17,500.000000,"(Hazardous, Maroon)","(Hazardous, Maroon)"
3,#18 - Southeast District Health Department- Te...,2025-03-18,500.000000,"(Hazardous, Maroon)","(Hazardous, Maroon)"
4,#18 - Southeast District Health Department- Te...,2025-03-19,500.000000,"(Hazardous, Maroon)","(Hazardous, Maroon)"
...,...,...,...,...,...
385,Broken Bow,2024-09-29,155.623169,"(Unhealthy, Red)","(Unhealthy, Red)"
386,#16 - Richardson County Courthouse,2024-12-04,154.304902,"(Unhealthy, Red)","(Unhealthy, Red)"
387,Loup Basin Public Health Department,2024-06-14,138.990849,"(Unhealthy for Sensitive Groups, Orange)","(Unhealthy for Sensitive Groups, Orange)"
388,#16 - Richardson County Courthouse,2024-12-08,123.667893,"(Unhealthy for Sensitive Groups, Orange)","(Unhealthy for Sensitive Groups, Orange)"
389,Swnphd-Benklemen,2024-06-27,117.817146,"(Unhealthy for Sensitive Groups, Orange)","(Unhealthy for Sensitive Groups, Orange)"